<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8"/>
    <title>
      {% block title %}Mini-App{% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type="text/javascript" src="/public/js/style-hack.min.js"></script>
    <link rel="icon" type="image/png" href="/public/images/favicon.min.png?v=2">
    {% set styles = style | replace(', ', ',') | replace(' ,', ',') | split(',') %}
    {% for s in styles %}
        {% if viewExt and viewExt != 'njk' %}
        <link rel="stylesheet" href="/public/css/{{ viewExt }}/{{ s }}.min.css">
        {% else %}
        <link rel="stylesheet" href="/public/css/{{ s }}.min.css">
        {% endif %}
    {% endfor %}
  </head>
  <body>
    <div class="page">
      {% block content %}{% endblock %}
    </div>
    {% include "common/partials/footer.njk" %}
  </body>
</html>
