<div class="departure departure-{{ dep.type }}">
  <b>{{ dep.time | formatDateTime }}</b>
  {% if dep.lineText %} – {{ dep.lineText }}
  {% endif %}
  {% if dep.direction %} <img src="/public/icons/rarrow.min.png" alt="→" class="arrow-inline"> {{ dep.direction }}
  {% endif %}<br/>

  {% if dep.platform %}
    Gleis/Steig: {{ dep.platform }}<br/>
  {% endif %}
  <br/>
</div>
