services:
  node:
    build: .
    container_name: node
    working_dir: /usr/src/app
    volumes:
      - ./:/usr/src/app
    ports:
      - '${HTTP_PORT}:${HTTP_PORT}'
      - '${HTTPS_PORT}:${HTTPS_PORT}'
    environment:
      DOTENV_OVERRIDE: 'false'
      MODE_ENV: 'PROD'
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}
    env_file:
      - .env
    depends_on:
      - redis
    command: >
      sh -c '
        if [ "$MODE_ENV" = "DEV" ]; then
          npm run watch
        elif [ "$MODE_ENV" = "PROD" ]; then
          npm run start
        elif [ "$MODE_ENV" = "INIT" ]; then
          npm run create-tokens
        else
          echo "Unknown MODE_ENV: $MODE_ENV"
          exit 1
        fi
      '
    restart: unless-stopped

  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - '${REDIS_PORT}:${REDIS_PORT}'
    volumes:
      - redis-data:/data
    command: ['redis-server', '--appendonly', 'yes']
    restart: unless-stopped

volumes:
  redis-data:
