services:
  node:
    build: .
    container_name: node
    working_dir: /usr/src/app
    volumes:
      - ./:/usr/src/app
    ports:
      - '${HTTP_PORT}:${HTTP_PORT}'
      - '${HTTPS_PORT}:${HTTPS_PORT}'
    environment:
      DOTENV_OVERRIDE: 'false'
      MODE_ENV: 'PROD'
    env_file:
      - .env
    command: >
      sh -c '
        if [ "$MODE_ENV" = "DEV" ]; then
          npm run watch
        elif [ "$MODE_ENV" = "PROD" ]; then
          npm run start
        elif [ "$MODE_ENV" = "INIT" ]; then
          npm run init-tokens
        else
          echo "Unknown MODE_ENV: $MODE_ENV"
          exit 1
        fi
      '
    restart: unless-stopped
