body {
  background-color: #fff;
  color: #222;
  font-family: system-ui, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 20px;
}

p.hint {
  margin-top: 30px;
  color: #777;
  font-size: 14px;
}

.footer {
  margin-top: 30px;
  color: #777;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #00c;
  font-size: 14px;
  font-family: system-ui, sans-serif;
}

a.fav {
  font-size: 15px;
  margin-top: 2px;
}

h2 {
  font-size: 22px;
  color: #004f9f;
  font-family: system-ui, sans-serif;
}

.label {
  font-size: 15px;
  font-family: system-ui, sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}
