<div class="departure departure-{{ dep.type }}">
    {% if dep.delay > 0 %}
    <strong style="color: red;">
    {{ dep.actualTime | formatTime }} ({{ dep.time | formatTime }} + {{ dep.delay | formatDuration }})
    {% else %}
    <strong>
    {{ dep.actualTime | formatTime }}
    {% endif %}
    </strong>

  {% if dep.lineText %}
    <br>{{ dep.lineText }}
  {% endif %}
  {% if dep.direction %}
    <img src="/public/icons/rarrow.min.png" alt="→" class="arrow-inline">
    {{ dep.direction }}
  {% endif %}
  {% if dep.platform %}
    <small>Gleis/Steig: {{ dep.platform }}</small>
  {% endif %}
</div>
