{% extends "layout.njk" %}

{% set style = "common,joplin" %}

{% block title %}Joplin – Fehler{% endblock %}

{% block content %}

<h1>Fehler</h1>

<p>{{ message }}</p>

<p><a href="/joplin">Zurück zur Übersicht</a></p>

{% endblock %}
