{% extends "layout.njk" %}

{% set style = "common" %}
{% set backLink = href | default("/") %}

{% block title %}
  Fehler - {{ message }}
{% endblock %}

{% block content %}
  <h2>Fehler</h2>

  {% if message %}
    <p>{{ message }}</p>
  {% endif %}

  <p><a href="{{ backLink }}">Zurück</a></p>
{% endblock %}
