{% extends "layout.njk" %}

{% set style = "common, home" %}

{% block title %}{{ content.title }}{% endblock %}

{% block content %}

  <h1>{{ content.pageTitle }}</h1>

  <ul>

    <li>
      <a href="/departures">
        <img src="/public/images/clock.min.png" alt="🕒" class="icon">{{ content.departures.title }}
      </a>
      <br>
    <small>{{ content.departures.desc }}</small>
    </li>

    <li>
      <a href="/journey">
        <img src="/public/images/train.min.png" alt="🚆" class="icon">{{ content.journey.title }}
      </a>
      <br>
      <small>{{ content.journey.desc }}</small>
    </li>

    <li>
      <a href="/weather">
        <img src="/public/images/cloud.min.png" alt="☁️" class="icon">{{ content.weather.title }}
      </a>
      <br>
      <small>{{ content.weather.desc }}</small>
    </li>

    <li>
      <a href="/pois">
        <img src="/public/images/pin.min.png" alt="📍" class="icon">{{ content.pois.title }}
      </a><br>
      <small>{{ content.pois.desc }}</small>
    </li>

    <li>
      <a href="/track">
        <img src="/public/images/track.min.png" alt="📍" class="icon">{{ content.track.title }}
      </a><br>
      <small>{{ content.track.desc }}</small>
    </li>

    {% if isSecureContext %}
    <li>
      <a href="/tasks">
        <img src="/public/images/tasks.min.png" alt="📝" class="icon">{{ content.tasks.title }}
      </a>
      <br>
      <small>{{ content.tasks.desc }}</small>
    </li>
    {% endif %}

    {% if isSecureContext %}
    <li>
      <a href="/joplin">
        <img src="/public/images/note.min.png" alt="🗒️" class="icon">{{ content.joplin.title }}
      </a>
      <br>
      <small>{{ content.joplin.desc }}</small>
    </li>
    {% endif %}

    <li>
      <a href="/news">
        <img src="/public/images/news.min.png" alt="📰" class="icon">{{ content.news.title }}
      </a>
      <br>
      <small>{{ content.news.desc }}</small>
    </li>

    <li>
    <img src="/public/images/star.min.png" alt="⭐" class="icon"><span style="font-size: 18px;">{{ content.bookmarks.title }}</span>
      <br>

      <ul class="favorites">
        {% for bookmark in bookmarks %}
          {% include "home/partials/favorite.njk" %}
        {% endfor %}
      </ul>
    </li>

    <li>
      <a href="/browser">
        <img src="/public/images/browser.min.png" alt="📰" class="icon">{{ content.browser.title }}
      </a>
      <br>
      <small>{{ content.browser.desc }}</small>
    </li>

  </ul>

  {% include "common/partials/hint.njk" %}

{% endblock %}
