<div class="weather-day">
  <div class="weather-day-title">{{ day.label }}</div>
  Min: {{ day.tMin }} °C, Max: {{ day.tMax }} °C<br />
  Zustand: {{ day.description }} (Code {{ day.code }})<br />
</div>
