.arrow-inline {
  height: 1em;
  vertical-align: -0.1em;
}

.page {
  max-width: 360px;
  margin: 0 auto;
  padding: 6px;
}

@supports (width: max-content) {
  .page {
    max-width: 560px;
  }
}

.btn-icon {
  height: 1em;
  margin-right: 0.8em;
  vertical-align: 0.2em;
}

/* modern browsers */
@supports (accent-color: auto) {
  .btn-icon {
    vertical-align: -0.2em;
  }
}
