.arrow-inline {
  height: 1em;
  vertical-align: -0.1em;
}

.page {
  max-width: 360px;
  margin: 0 auto;
  padding: 6px;
}

@supports (width: max-content) {
  .page {
    max-width: 560px;
  }
}

.btn-icon {
  height: 1em;
  margin-right: 0.8em;
}

.is-old-gecko .btn-icon {
  vertical-align: -0.15em;
}

/* modern browsers */
@supports selector(:has(*)) {
  .btn-icon {
    vertical-align: -0.2em;
  }
}

.footer {
  margin-top: 2rem;
  text-align: center;
  opacity: 0.7;
  display: block;
}

img {
  border: 0;
}

a img {
  border: 0;
  outline: none;
}
