body {
  font-family: sans-serif;
  background: lightgrey;
  margin: 0;
  padding: 20px;
  font-size: 16px;
  line-height: 1.4;
}

h1 {
  font-size: 22px;
  margin-bottom: 16px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 18px;
}

a {
  text-decoration: none;
  color: #03c;
  font-size: 18px;
}

a:hover {
  text-decoration: underline;
}

small {
  color: #555;
}

.hint {
  margin-top: 30px;
  color: #777;
  font-size: 14px;
}

.favorites {
  margin-left: 18px;
  margin-top: 6px;
  padding-left: 0;
}

.favorites li {
  margin-bottom: 8px;
}

.favorites li a {
  font-size: 15px;
  color: #03c;
}

.favorite-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: #03c;
  font-size: 15px;
  text-align: left;
  font-family: inherit;
}

.favorite-button:hover {
  text-decoration: underline;
}

.icon {
  width: 18px;
  height: 18px;
  margin-right: 4px;
}

.is-old-gecko .icon {
  vertical-align: -0.2em;
}

/* modern browsers */
@supports selector(:has(*)) {
  .icon {
    vertical-align: -0.2em;
  }
}
