<div class="fav">
  <a href="/journey/search?from={{ fav.from | urlencode }}&to={{ fav.to | urlencode }}">
    {{ fav.from }} <img src="/public/icons/rarrow.min.png" alt="→" class="arrow-inline"> {{ fav.to }}
  </a>
</div>
