<div class="journey">
  <b>{{ journey.number }}. Verbindung am {{ journey.departure | formatDate }}</b>
  <br>
  {{ journey.departure | formatTime }} - {{ journey.arrival | formatTime }} | {{ journey.duration | formatDuration }}
  {% if journey.transfers == 1 %}
    | {{ journey.transfers }} Umstieg
  {% endif %}
  {% if journey.transfers > 1 %}
    | {{ journey.transfers }} Umstiege
  {% endif %}
  <br>
  {% for leg in journey.legs %}
    {% include "journey/partials/leg.njk" %}
  {% endfor %}
</div>
