body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgrey;
  margin: 0;
  color: #000000;
  font-size: 14px;
}

h1 {
  font-size: 24px;
  margin-bottom: 16px;
}

a {
  color: #0000ff;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}

a img {
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  margin-top: 20px;
  margin-bottom: 5px;
}

ul {
  list-style-type: none;
}

p.hint {
  font-style: italic;
}

li {
  margin-bottom: 10px;
}
