{% extends "layout.njk" %}

{% set style = "common, home" %}

{% block title %}Mini-Apps{% endblock %}

{% block content %}

  <h1>Mini-Apps</h1>

  <ul>

    <li>
      <a href="/departures">
        <img src="/public/icons/clock.min.png" alt="🕒" class="icon">
        Abfahrten
    </a><br/>
    <small>Nächste Abfahrten an einer Station.</small>
    </li>

    <li>
      <a href="/journey">
        <img src="/public/icons/train.min.png" alt="🚆" class="icon">
        Bahn-Verbindungen
      </a><br/>
      <small>Fahrten suchen, extrem leicht.</small>
    </li>

    <li>
      <a href="/weather">
        <img src="/public/icons/cloud.min.png" alt="☁️" class="icon">
        Wetter
      </a><br/>
      <small>Aktuelles Wetter und Vorhersage.</small>
    </li>


    <li>
      <a href="/pois">
        <img src="/public/icons/pin.min.png" alt="📍" class="icon">
        POIs
      </a><br/>
      <small>Apotheken, Tankstellen & mehr ohne GPS.</small>
    </li>

    <li>
      <a href="/tasks">
        <img src="/public/icons/tasks.min.png" alt="📝" class="icon">
        Aufgaben
      </a><br/>
      <small>Alle Google-Tasks-Listen (Leseansicht).</small>
    </li>

    <li>
      <a href="/joplin">
        <img src="/public/icons/note.min.png" alt="🗒️" class="icon">
        Joplin
      </a><br/>
      <small>Alle Notizen (Leseansicht).</small>
    </li>

    <li>
      <a href="/news">
        <img src="/public/icons/news.min.png" alt="📰" class="icon">
        News
      </a><br/>
      <small>Aktuelle Nachrichten.</small>
    </li>

    <li>
      <a href="/weather">
        <img src="/public/icons/star.min.png" alt="⭐" class="icon">
        Bookmarks
      </a><br/>
      <small>Nützliche Bookmarks.</small>

      <ul class="favorites">
        {% for bookmark in bookmarks %}
          {% include "home/partials/favorite.njk" %}
        {% endfor %}
      </ul>
    </li>

    <li>
      <a href="/browser">
        <img src="/public/icons/browser.min.png" alt="📰" class="icon">
        WWW
      </a><br/>
      <small>Ein Webbrowser für vereinfachtes HTML.</small>
    </li>

  </ul>

  <p class="hint">
    Komplett ohne JavaScript. Optimiert für Opera Mini und schwache Verbindungen.
  </p>

{% endblock %}
