{% extends "layout.njk" %}

{% set style = "common, news" %}

{% block title %}News{% endblock %}

{% block content %}

  <h1>News</h1>

  <ul>
    {% for item in items %}
      <li class="source-{{ item.source | lower | replace(' ', '-') }}">
        <a href="{{ item.link }}">{{ item.title }}</a><br>
        {% if item.date %}
          <small>{{ item.date | formatDateTime }}</small><br>
        {% endif %}
        {% if item.description %}
          <small>{{ item.description | safe }}</small>
        {% endif %}
        <span class="source-label">{{ item.source }}</span>
      </li>
    {% endfor %}
  </ul>

  <p class="hint">
  Vereinfachte Darstellung der Schlagzeilen aus mehreren Quellen.
</p>

{% endblock %}
