body {
  line-height: 1.4;
  padding: 20px;
}

h2 {
  color: #004f9f;
  margin-top: 0;
}

.input {
  width: 100%;
  padding: 6px 8px;
  margin: 6px 0 12px;
  font-size: 16px;
}

input.input[type='text'] {
  width: 96.5%;
}

@supports (-webkit-touch-callout: none) {
  input.input[type='text'] {
    width: 90%;
  }
}

.is-old-gecko input.input[type='text'] {
  width: 94.5%;
}

.btn {
  padding: 8px 12px;
  font-size: 16px;
  background: #004f9f;
  color: #fff;
  border: none;
  border-radius: 4px;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.hint {
  margin-top: 20px;
  font-size: 14px;
  color: #666;
}
