{% if pageUrl != "/browser" %}

    {% set isHome = pageUrl == "/" %}
    {% set homeLink %}
        <a href="/">Zur Startseite</a>
    {% endset %}

    {% if viewExt != "njk" %}
        <p class="footer">
            {% if not isHome %}
                {{ homeLink | safe }}
            {% endif %}
        </p>
    {% else %}
        <footer class="footer">
            {% if not isHome %}
                {{ homeLink | safe }}&nbsp;|&nbsp;
            {% endif %}

            {% if isLoggedIn %}
                <a href="/auth/logout">Logout</a>
            {% else %}
                <a href="/auth/login">Login</a>
            {% endif %}
        </footer>
    {% endif %}

{% endif %}
