{% extends "layout.njk" %}

{% set style = "journey" %}

{% block title %}Fehler{% endblock %}

{% block content %}
  <h2>Fehler</h2>
  <p>Fehler: {{ message }}</p>
  <p><a href="/journey">Zurück</a></p>
{% endblock %}
