{% extends "layout.njk" %}

{% set style = "common, journey" %}

{% block title %}DB Mini{% endblock %}

{% block content %}
  <h2>DB Mini Fahrplan</h2>

  <form method="POST">
    Start:<br>
    <input name="from" value="{{ from }}"><br><br>

    Ziel:<br>
    <input name="to" value="{{ to }}"><br><br>

    <button type="submit" formaction="/journey/search" class="btn btn-primary">
      Suchen
    </button>
    <button type="submit" formaction="/journey/save-fav" class="btn btn-secondary btn-fav">
    <img src="/public/icons/star.min.png" alt="Favorit" class="btn-icon">
      Favorit speichern
    </button>
  </form>

  <h3>Favoriten</h3>
  {% if favs and favs.length %}
    {% for fav in favs %}
      {% include "journey/partials/favorite.njk" %}
    {% endfor %}
  {% else %}
    <i>Keine Favoriten</i>
  {% endif %}

  <form method="GET" action="/journey/clear-favs">
    <button type="submit" class="btn btn-danger">
        <img src="/public/icons/delete.min.png" alt="Reload" class="btn-icon">
        Alle Favoriten löschen
    </button>
  </form>

  <form method="GET" action="/journey/show-config-favs">
    <button type="submit" class="btn btn-secondary">
        <img src="/public/icons/reload.min.png" alt="Reload" class="btn-icon">
        Standard-Favoriten wieder anzeigen
    </button>
  </form>

  <p class="hint">
    Ultra-leichte Version, optimiert für schwache Verbindungen / Opera Mini.
  </p>
{% endblock %}
