{% extends "layout.njk" %}

{% set style = "common, journey" %}

{% block title %}DB Mini{% endblock %}

{% block content %}
  <h2>DB Mini Fahrplan</h2>

  <form method="POST">
    Start:<br>
    <input name="from" value="{{ from }}"><br><br>

    Ziel:<br>
    <input name="to" value="{{ to }}"><br><br>

    <button type="submit" formaction="/journey/search" class="btn btn-primary">
      Suchen
    </button>

    <a href="/journey?swap=true&from={{ from | urlencode }}&to={{ to | urlencode }}" class="btn btn-secondary">
      <img src="/public/icons/swap.min.png" alt="↔" class="btn-icon">
      Fahrtrichtung umkehren
    </a>

    <button type="submit" formaction="/journey/save-fav" class="btn btn-secondary">
    <img src="/public/icons/star.min.png" alt="Favorit" class="btn-icon">
      Favorit speichern
    </button>
  </form>

  <h3>Favoriten</h3>
  {% if favs and favs.length %}
    {% for fav in favs %}
      {% include "journey/partials/favorite.njk" %}
      {% if fav.bidirectional %}
        {% set _orig = fav %}
        {% set fav = { from: _orig.to, to: _orig.from, bidirectional: false } %}
        {% include "journey/partials/favorite.njk" %}
        {% set fav = _orig %}
      {% endif %}
    {% endfor %}
  {% else %}
    <i>Keine Favoriten</i>
  {% endif %}

  {% from "common/fav-buttons-bottom.njk" import favButtons %}
  {{ favButtons("/journey") }}

  {% include "common/hint.njk" %}

{% endblock %}
