{% extends "layout.njk" %}

{% set style = "common" %}

{% block title %}Benutzerprofil{% endblock %}

{% block content %}

  <h2 style="color: darkblue;">Willkommen, {{ user.firstName }} {{ user.lastName }}</h2>
  <h3>Benutzername (Login):</h3>
  {{ user.username }}</p>

  <h3>E-Mail:</h3>
  {{ user.email }}</p>

  {% if user.roles %}
    <h3>Rollen:</h3>
    <ul>
      {% for r in user.roles %}
        <li>{{ r }}</li>
      {% endfor %}
    </ul>
  {% endif %}

{% endblock %}
