body {
  background-color: lightgrey;
  color: #222;
  font-family: system-ui, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 20px;
  line-height: 1.4;
}

h1 {
  font-size: 28px;
  margin-bottom: 8px;
  margin-left: 40px;
}

h2 {
  font-size: 24px;
  margin-bottom: 16px;
}

a {
  color: #00f;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}

a img {
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  margin-top: 20px;
  margin-bottom: 5px;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 10px;
}

p.hint {
  margin-left: 40px;
  margin-top: 30px;
  color: #777;
  font-size: 14px;
}

.footer {
  margin-left: 40px;
  margin-top: 30px;
  color: #777;
  font-size: 14px;
}
