{% extends "layout.njk" %}

{% set style = "common, journey" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

  <h2>{{ headline }}</h2>

  <form method="POST">
    <label for="station">Station / Haltestelle:</label><br>
    <input
      type="text"
      id="station"
      name="station"
      value="{{ station }}"
      autocomplete="off" style="margin-bottom: 15px;" />
    <button type="submit" formaction="/departures/search" class="btn btn-primary">
      Anzeigen
    </button>
    <button type="submit" formaction="/departures/save-fav" class="btn btn-secondary btn-fav">
      <img src="/public/images/star.min.png" alt="Favorit" class="btn-icon">
      Favorit speichern
    </button>
  </form>

  <h3>Favoriten</h3>
  {% if favs and favs.length %}
    {% for fav in favs %}
      {% include "departures/partials/favorite.njk" %}
    {% endfor %}
  {% else %}
    <i>Keine Favoriten</i>
  {% endif %}

  {% from "common/macros/fav-buttons-bottom.njk" import favButtons %}
  {{ favButtons("/departures") }}

  {% include "common/partials/hint.njk" %}

{% endblock %}
