#{{ leg.idx }}: {{ leg.originName }} <img src="/public/icons/rarrow.min.png" alt="→" class="arrow-inline"> {{ leg.destName }}
<br>
Ab: {{ leg.depTime }}<br>
An: {{ leg.arrTime }}<br>

{% if leg.lineText %}
  Linie: {{ leg.lineText }}<br>
{% endif %}

<br>
