{% extends "layout.njk" %}

{% set style = "common, weather" %}

{% block title %}Fehler – {{ title }}{% endblock %}

{% block content %}
  <h2>Fehler</h2>
  <p>Fehler: {{ message }}</p>
  <p><a href="/weather">Zurück</a></p>
{% endblock %}
